html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-color: #1e1f23;
  font-size: 16px;
  font-size: 1em;
  font-family: flamabook;
  color: #b6b9ad;
  overflow: hidden;
}
body ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: #b6b9ad;
  cursor: pointer;
}
body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}
body body, html body {
  scrollbar-face-color: #b6b9ad;
  scrollbar-track-color: rgba(0, 0, 0, 0.8);
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:active, a:focus {
  outline: none;
}

b, strong {
  font-family: flamabold;
}

.clear {
  clear: both;
}

.views-container {
  margin: 0 auto 0 auto;
  overflow: hidden;
  clear: both;
}

.a-link {
  text-decoration: none;
  text-indent: -999999px;
}

@media screen and (max-width: 1023px) {
  canvas {
    position: absolute;
    top: 50px;
  }
}

.center-y {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-x {
  margin: 0 auto 0 auto;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.float-left {
  display: inline;
  float: left;
}

.float-right {
  display: inline;
  float: right;
}

.relative {
  position: relative !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.txt-underline {
  text-decoration: underline;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.txt-center {
  text-align: center !important;
}

.hover-opacity {
  opacity: 1;
  -webkit-transition: opacity 0.1s 0s;
  -webkit-transition-delay: cubic-bezier(0.42, 0, 1, 1);
  -moz-transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -o-transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -webkit-backface-visibility: hidden;
}
.hover-opacity:hover {
  opacity: 0.65 !important;
}

.hover-opacity-noanimate {
  opacity: 1;
}
.hover-opacity-noanimate:hover {
  -webkit-transition: 0 0s;
  -moz-transition: 0 0s;
  -o-transition: 0 0s;
  transition: 0 0s;
  opacity: 0.65 !important;
}

.hover-underline, .hover-underline > * {
  text-decoration: none;
}
.hover-underline:hover, .hover-underline > *:hover {
  text-decoration: underline;
}

.hover-highlight {
  background: transparent;
  -webkit-transition: background 0.1s 0s;
  -webkit-transition-delay: cubic-bezier(0.42, 0, 1, 1);
  -moz-transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -o-transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
}
.hover-highlight:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.alpha-in {
  -webkit-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  -moz-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  -o-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
}

.alpha-out {
  -webkit-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  -moz-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  -o-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.slide-left {
  -webkit-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  -moz-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  -o-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
}

.slide-right {
  -webkit-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  -moz-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  -o-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
}

@-webkit-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-moz-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-o-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-o-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.padding0 {
  padding: 0px !important;
}

.padding-top0 {
  padding-top: 0px !important;
}

.padding-right0 {
  padding-right: 0px !important;
}

.padding-bottom0 {
  padding-bottom: 0px !important;
}

.padding-left0 {
  padding-left: 0px !important;
}

.margin0 {
  margin: 0px !important;
}

.margin-top0 {
  margin-top: 0px !important;
}

.margin-right0 {
  margin-right: 0px !important;
}

.margin-bottom0 {
  margin-bottom: 0px !important;
}

.margin-left0 {
  margin-left: 0px !important;
}

.padding5 {
  padding: 5px !important;
}

.padding-top5 {
  padding-top: 5px !important;
}

.padding-right5 {
  padding-right: 5px !important;
}

.padding-bottom5 {
  padding-bottom: 5px !important;
}

.padding-left5 {
  padding-left: 5px !important;
}

.margin5 {
  margin: 5px !important;
}

.margin-top5 {
  margin-top: 5px !important;
}

.margin-right5 {
  margin-right: 5px !important;
}

.margin-bottom5 {
  margin-bottom: 5px !important;
}

.margin-left5 {
  margin-left: 5px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding-top10 {
  padding-top: 10px !important;
}

.padding-right10 {
  padding-right: 10px !important;
}

.padding-bottom10 {
  padding-bottom: 10px !important;
}

.padding-left10 {
  padding-left: 10px !important;
}

.margin10 {
  margin: 10px !important;
}

.margin-top10 {
  margin-top: 10px !important;
}

.margin-right10 {
  margin-right: 10px !important;
}

.margin-bottom10 {
  margin-bottom: 10px !important;
}

.margin-left10 {
  margin-left: 10px !important;
}

.padding15 {
  padding: 15px !important;
}

.padding-top15 {
  padding-top: 15px !important;
}

.padding-right15 {
  padding-right: 15px !important;
}

.padding-bottom15 {
  padding-bottom: 15px !important;
}

.padding-left15 {
  padding-left: 15px !important;
}

.margin15 {
  margin: 15px !important;
}

.margin-top15 {
  margin-top: 15px !important;
}

.margin-right15 {
  margin-right: 15px !important;
}

.margin-bottom15 {
  margin-bottom: 15px !important;
}

.margin-left15 {
  margin-left: 15px !important;
}

.padding20 {
  padding: 20px !important;
}

.padding-top20 {
  padding-top: 20px !important;
}

.padding-right20 {
  padding-right: 20px !important;
}

.padding-bottom20 {
  padding-bottom: 20px !important;
}

.padding-left20 {
  padding-left: 20px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin-top20 {
  margin-top: 20px !important;
}

.margin-right20 {
  margin-right: 20px !important;
}

.margin-bottom20 {
  margin-bottom: 20px !important;
}

.margin-left20 {
  margin-left: 20px !important;
}

.padding25 {
  padding: 25px !important;
}

.padding-top25 {
  padding-top: 25px !important;
}

.padding-right25 {
  padding-right: 25px !important;
}

.padding-bottom25 {
  padding-bottom: 25px !important;
}

.padding-left25 {
  padding-left: 25px !important;
}

.margin25 {
  margin: 25px !important;
}

.margin-top25 {
  margin-top: 25px !important;
}

.margin-right25 {
  margin-right: 25px !important;
}

.margin-bottom25 {
  margin-bottom: 25px !important;
}

.margin-left25 {
  margin-left: 25px !important;
}

.padding30 {
  padding: 30px !important;
}

.padding-top30 {
  padding-top: 30px !important;
}

.padding-right30 {
  padding-right: 30px !important;
}

.padding-bottom30 {
  padding-bottom: 30px !important;
}

.padding-left30 {
  padding-left: 30px !important;
}

.margin30 {
  margin: 30px !important;
}

.margin-top30 {
  margin-top: 30px !important;
}

.margin-right30 {
  margin-right: 30px !important;
}

.margin-bottom30 {
  margin-bottom: 30px !important;
}

.margin-left30 {
  margin-left: 30px !important;
}

.padding35 {
  padding: 35px !important;
}

.padding-top35 {
  padding-top: 35px !important;
}

.padding-right35 {
  padding-right: 35px !important;
}

.padding-bottom35 {
  padding-bottom: 35px !important;
}

.padding-left35 {
  padding-left: 35px !important;
}

.margin35 {
  margin: 35px !important;
}

.margin-top35 {
  margin-top: 35px !important;
}

.margin-right35 {
  margin-right: 35px !important;
}

.margin-bottom35 {
  margin-bottom: 35px !important;
}

.margin-left35 {
  margin-left: 35px !important;
}

.padding40 {
  padding: 40px !important;
}

.padding-top40 {
  padding-top: 40px !important;
}

.padding-right40 {
  padding-right: 40px !important;
}

.padding-bottom40 {
  padding-bottom: 40px !important;
}

.padding-left40 {
  padding-left: 40px !important;
}

.margin40 {
  margin: 40px !important;
}

.margin-top40 {
  margin-top: 40px !important;
}

.margin-right40 {
  margin-right: 40px !important;
}

.margin-bottom40 {
  margin-bottom: 40px !important;
}

.margin-left40 {
  margin-left: 40px !important;
}

.padding45 {
  padding: 45px !important;
}

.padding-top45 {
  padding-top: 45px !important;
}

.padding-right45 {
  padding-right: 45px !important;
}

.padding-bottom45 {
  padding-bottom: 45px !important;
}

.padding-left45 {
  padding-left: 45px !important;
}

.margin45 {
  margin: 45px !important;
}

.margin-top45 {
  margin-top: 45px !important;
}

.margin-right45 {
  margin-right: 45px !important;
}

.margin-bottom45 {
  margin-bottom: 45px !important;
}

.margin-left45 {
  margin-left: 45px !important;
}

.padding50 {
  padding: 50px !important;
}

.padding-top50 {
  padding-top: 50px !important;
}

.padding-right50 {
  padding-right: 50px !important;
}

.padding-bottom50 {
  padding-bottom: 50px !important;
}

.padding-left50 {
  padding-left: 50px !important;
}

.margin50 {
  margin: 50px !important;
}

.margin-top50 {
  margin-top: 50px !important;
}

.margin-right50 {
  margin-right: 50px !important;
}

.margin-bottom50 {
  margin-bottom: 50px !important;
}

.margin-left50 {
  margin-left: 50px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-marginAfter:after {
  margin: 0 !important;
}

.no-marginBefore:before {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.font08 {
  font-size: 0.8rem !important;
}

.font085 {
  font-size: 0.85rem !important;
}

.font09 {
  font-size: 0.9rem !important;
}

.font095 {
  font-size: 0.95rem !important;
}

.font11 {
  font-size: 1.1rem !important;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.spinner {
  width: 500px;
  height: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -moz-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  -o-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  font-family: flamabold;
}
.spinner * {
  box-sizing: border-box;
}
.spinner .progress-txt {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  font-family: flamabold;
  color: #2a253c;
}
.spinner.exit {
  -webkit-animation: alphaOut 1.5s cubic-bezier(0.155, -0.5, 0.825, 0.98) forwards;
  -moz-animation: alphaOut 1.5s cubic-bezier(0.155, -0.5, 0.825, 0.98) forwards;
  -o-animation: alphaOut 1.5s cubic-bezier(0.155, -0.5, 0.825, 0.98) forwards;
  animation: alphaOut 1.5s cubic-bezier(0.155, -0.5, 0.825, 0.98) forwards;
}

.ball {
  width: 100%;
  height: 100%;
  background: rgba(73, 52, 94, 0.8);
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 0px 20px #654e7b);
  -moz-filter: drop-shadow(0px 0px 20px #654e7b);
  filter: drop-shadow(0px 0px 20px #654e7b);
}
.ball.ball-1 {
  -webkit-animation: pulse 7s -1s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -1s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -1s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -1s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-2 {
  -webkit-animation: pulse 7s -2s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -2s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -2s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -2s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-3 {
  -webkit-animation: pulse 7s -3s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -3s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -3s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -3s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-4 {
  -webkit-animation: pulse 7s -4s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -4s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -4s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -4s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-5 {
  -webkit-animation: pulse 7s -5s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -5s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -5s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -5s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-6 {
  -webkit-animation: pulse 7s -6s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -6s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -6s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -6s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
.ball.ball-7 {
  -webkit-animation: pulse 7s -7s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -moz-animation: pulse 7s -7s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  -o-animation: pulse 7s -7s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
  animation: pulse 7s -7s cubic-bezier(0.155, -0.5, 0.825, 0.98) infinite;
}
