$loop: 7s;
$size: 500px;
$len: 7;

.spinner {
	@include set-size($size, $size);
	@include center;
	position: absolute;
	@include transform-origin(50%);
	@include transform(scale(1) translateX(-50%) translateY(-50%));
	font-family: $bold;
	
	* {
		box-sizing: border-box;
	}

	.progress-txt{
		@include center;
		position: absolute;
		font-family: $bold;
		color: #2a253c;
	}	

	&.exit{
		@include animation(alphaOut 1.5s $ease-in-back forwards);
		
	}
}

.ball {
	@include set-size(100%,100%);
	background: rgba(73,52,94,.8);
	position: absolute;
	@include border-radius(50%);
	@include filter(drop-shadow(0px 0px 20px rgba(101,78,123,1)));

	@for $i from 1 through $len {
		&.ball-#{$i}{
			$delay: (-$loop / $len * $i);
			@include animation(pulse $loop $delay $ease-in-back infinite);
		}
	}
}

