<section class="spinner template">
	<div class="ball ball-1"></div>
	<div class="ball ball-2"></div>
	<div class="ball ball-3"></div>
	<div class="ball ball-4"></div>
	<div class="ball ball-5"></div>
	<div class="ball ball-6"></div>
	<div class="ball ball-7"></div>
	<h1 class="progress-txt">0%</h1>
</section>