// @font-face {
//     font-family: 'flamabold';
//     src: url('../fonts/flama-bold-webfont.eot');
//     src: url('../fonts/flama-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/flama-bold-webfont.woff2') format('woff2'),
//          url('../fonts/flama-bold-webfont.woff') format('woff'),
//          url('../fonts/flama-bold-webfont.ttf') format('truetype'),
//          url('../fonts/flama-bold-webfont.svg#flamabold') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

