//APP SIZES
$max-width: 1024;

//EASING
$cubic-sine: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$cubic-arc: cubic-bezier(0.445, 0, 0.760, 0.380);
$cubic-in-out: cubic-bezier(0.565, 0.005, 1.000, 1);
$sine-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$cubic-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$expo-out: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-out-back: cubic-bezier(0.175, 0.885, 0, 1.330);
$ease-out-back-2: cubic-bezier(0.34,1.36,0.79,3);
$ease-in-back: cubic-bezier(0.155, -0.500, 0.825, 0.980);
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
$ease-custom: cubic-bezier(0.530, 0.005, 0.325, 0.995);
$ease-linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease-ease: cubic-bezier(0.260, 0.780, 0.675, 0.915);

//COLORS
//bg colors
$bg: #1e1f23;

//text colors
$clr-txt: #b6b9ad;


// FONTS
$bold: flamabold;
$light: flamalight;
$book: flamabook;
