.carousel {
	@include set-size(100%, auto);
	overflow: hidden;
	position: relative;
	background-color: #000;
	position: absolute;
	z-index: 50;
	display: none;

	.bullets{
		@include set-size(auto, 16px);
		position: absolute;
		bottom: 20px;
		left: 50%;
		@include transform(translateX(-50%));

		.bullet{
			@include set-size(12px, 12px);
			@include border-radius(6px);
			background-color: $clr-txt;
			display: inline-block;
			margin: 0 2px 0 2px;

			&.selected{
				background-color: #000;
			}
		}

		@include maxWidth(767) {
			bottom: 5px;

			.bullet{
				@include set-size(6px, 6px);
				@include border-radius(3px);

			}
		}

		@include minWidth(768) {
			display: none;
		}
	}

	.arrows{
		@include set-size(90%, auto);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 5;

		@include maxWidth(1023) {
			display: none;
		}

		.bt-controls {
			@extend .bt-arrow;
			display: inline-block;
			cursor: pointer;
		}

		.left {
			@extend .bt-controls;
			opacity: 0.2;
		}
		.right {
			@extend .bt-controls;
			position: absolute;
			right: 0;
		}
	}
	.carousel-container{
		overflow: hidden;
		margin: 0 auto 0 auto;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));

		&.more-items{
			width: 100%;
		    max-width: 375px;
		    @include maxWidth(640){
	    	    max-width: 285px;
		    }
		}

		.carousel-list{
			@include set-size(100%, auto);
			@include transform(translate(0px, 0px));
			
			.item{
				@include float(left);
				position: relative;
				overflow: hidden;
				min-height: 70vh;
				position: relative;

				.title, .sub-title{
					@include font-size(36);
					@include maxWidth(1023) { @include font-scale(640, 1023, 16, 34); }
					position: absolute;
					left: 18%;
					color: #fff;
				}

				.title{
					font-family: Arial;
					top: 20%;
				}
				.sub-title{
					top: 40%;
					font-family: Arial;
				}
				.img{
					@include set-size(auto, 70vh);
					@include center();
					position: absolute;		
				}
			}
		}
	}

	@include maxWidth(1023) {
		display: block;
		min-height: 160px;

		.carousel-container{
			@include set-size(100%, 100%);

			.carousel-list{
				height: 100%;
				
				.item{
					height: 100%;
					// min-height: 320px;

					.img{
						@include set-size(100%, auto);
						position: absolute;
						top: 0;
						left: 0;
						@include transform(translateX(0%) translateY(0%));
					}
				}
			}
		}
	}
}